<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sound.door.Mapper.mesManager.mesManaerMapper">
    <select id="validUser" resultType="int">
        	SELECT COUNT(*) FROM SYS_USER_CD WHERE USER_CODE = #{user_code} AND USER_PWD = #{user_pwd}
    </select>
    <select id="getUserData" resultType="com.sound.door.Common.Interceptor.UserData">
        	SELECT * FROM SYS_USER_CD WHERE USER_CODE = #{user_code} AND USER_PWD = #{user_pwd}
    </select>
</mapper>
