.nav_user{
	float: right;
    padding: 10px;
    font-size: 12px;
    line-height: 0;
    height: auto;
}
.cs_btn_nm{
	display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
	border-radius: 3px;
}
.lh-08{
		line-height: 0.8 !important;
}
.pd-10{
	padding:10px !important;
}
.pd-b-10{
	padding-bottom:10px !important;
}
.user_info_area{
	padding-bottom: 5px;
	color: #ffffff;
	text-align: center;
}
.user_info_area-m{
	padding-bottom: 5px;
	color: #303641;
	text-align: center;
}
.top-header-area{
    background-color: #303641;
    border-bottom: 1px solid #ffffff;
}