.nav_user{
	float: right;
    padding: 10px;
    font-size: 12px;
    line-height: 0;
    height: auto;
}
.cs_btn_nm{
	display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
	border-radius: 3px;
}
.lh-08{
		line-height: 0.8 !important;
}
.pd-10{
	padding:10px !important;
}
.pd-b-10{
	padding-bottom:10px !important;
}
.user_info_area{
	padding-bottom: 5px;
	color: #ffffff;
	text-align: center;
}
.user_info_area-m{
	padding-bottom: 5px;
	color: #303641;
	text-align: center;
}
.top-header-area{
    background-color: #303641;
    border-bottom: 1px solid #ffffff;
}
h2{
	font-size: 14px !important;
	margin-top: 10px !important;
    margin-bottom: 8.5px !important;
}
.table{
	margin-bottom: 0px !important;
}
.table > tbody > tr > th, td {
	vertical-align: middle !important;
	text-align: center;
	color:#373e4a;
	font-weight: 500;
}
.table > tbody > tr > th {
	border-left: 2px solid #303641 !important;
}
.table > tbody > tr > td {
	background-color: #ffffff !important;
}
.hide-td{
	width: 40% !important;
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}
.input-sm{
	height: 20px;
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    font-weight: 100;
}
.iconimg{
	padding-top: 6px;
	width:20px;
}
.btngrp{
	margin-bottom: 10px;
    margin-top: 10px;
}
.modal {
        text-align: center;
}
 
@media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}
 
.modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
}
.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all {width:100% !important;}
.ui-jqgrid-view {width:100% !important;}
.ui-jqgrid-hdiv {width:100% !important;}
.ui-jqgrid .ui-jqgrid-hbox {width:100% !important; padding:0 !important;}
.ui-jqgrid-htable {width:100% !important;}
.ui-jqgrid-bdiv {width:100% !important;}
.ui-jqgrid-btable {width:100% !important;}
.ui-jqgrid-pager {width:100% !important;}
.ui-jqgrid .ui-jqgrid-titlebar {
	height: 25px !important;
    padding: .3em .2em .2em .3em !important;
    position: relative !important;
    font-size: 12px !important;
    border-left: 0 none !important;
    color: #ffffff !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
	background-color: #303641 !important;
}