<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sound.door.Mapper.mesManager.User.MesUserMapper">

    <select id="sysDeptGet" resultType="com.sound.door.mesManager.User.DTO.SYS_DEPT_CD">
        	EXEC SP_SYS_DEPT_GET  #{page}, #{rows}, '',''
    </select>

    <select id="sysDeptAdd" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_DEPT_ADD #{dept_code},#{dept_name},#{use_yn},#{user_code},#{keyword}
    </select>

    <select id="sysDeptOneGet" resultType="com.sound.door.mesManager.User.DTO.SYS_DEPT_CD">
        	EXEC SP_SYS_DEPT_GET  1, 1, #{keyword},''
    </select>

    <select id="sysDeptDelete" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_DEPT_DEL #{keyword}
    </select>

    <select id="sysUserGet" resultType="com.sound.door.mesManager.User.DTO.SYS_USER_CD">
        	EXEC SP_SYS_USER_GET  #{page}, #{rows}, '','',''
    </select>

    <select id="sysUserAdd" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_USER_ADD #{user_code},#{user_name},#{dept_code},#{duty_code},#{auth_code},#{tel_no},#{email},#{use_yn},#{update_user},#{keyword}
    </select>

    <select id="sysUserOneGet" resultType="com.sound.door.mesManager.User.DTO.SYS_USER_CD">
        	EXEC SP_SYS_USER_GET  1, 1, #{keyword},'',''
    </select>

    <select id="sysUserDelete" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_USER_DEL #{keyword}
    </select>

</mapper>
