<div class="sidebar-menu">
		<div class="sidebar-menu-inner">
			<header class="logo-env hidden-lg">
				<!-- logo -->
				<div class="logo">
					<a href="index.html">
						<img src="assets/images/logo@2x.png" width="120" alt="">
					</a>
				</div>

				<!-- logo collapse icon -->
				<div class="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
						<i class="entypo-menu"></i>
					</a>
				</div>

				<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
				<div class="sidebar-mobile-menu visible-xs">
					<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
						<i class="entypo-menu"></i>
					</a>
				</div>

			</header>
						
			<ul id="main-menu" class="main-menu">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
				<li class="active opened active has-sub root-level">
					<a href="index.html">
						<i class="fas fa-tachometer-alt"></i>
						<span class="title">엑티브메뉴</span>
					</a>
					<ul class="visible">
						<li class="active">
							<a href="index.html">
								<span class="title">메뉴 1</span>
							</a>
						</li>
						<li>
							<a href="dashboard-2.html">
								<span class="title">메뉴 2</span>
							</a>
						</li>
						<li class="has-sub">
							<a href="skin-black.html">
								<span class="title">트리메뉴</span>
							</a>
							<ul>
								<li>
									<a href="skin-black.html">
										<span class="title">트리1</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-sub root-level">
					<a href="layout-api.html">
						<i class="fas fa-tachometer-alt"></i>
						<span class="title">일반메뉴</span>
					</a>
					<ul>
						<li>
							<a href="layout-api.html">
								<span class="title">123</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			
		</div>

	</div>