<div class="row pd-10">
    <div class="col-md-12 col-sm-12 clearfix pd-b-10">
        <div class="nav_user">
			<div class="user_info_area">
				<i class="fa fa-user"></i> 김재일님 반갑습니다.
			</div>
			
			<input type="hidden" value="S0001" id="hstcd">
			<input type="hidden" value="test2" id="huscd">
			<input type="hidden" value="test2" id="husnm">
			<br>
			<button type="button" class="btn lh-08" onclick="password_add_btn();">암호변경</button>
			<button type="button" class="btn lh-08" onclick="logout();">로그아웃</button>
		</div>
</div>