<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sound.door.Mapper.mesManager.Master.MesMasterMapper">


    <!--메세지관리 -->
    <select id="sysMsgGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_MSG_CD">
    	EXEC SP_SYS_MSG_GET #{page}, #{rows}, ''
    </select>
    <select id="sysMsgAdd" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_MSG_ADD #{msg_code},#{msg_name1},#{msg_name2},#{msg_name3},#{msg_name4},#{user_code},#{keyword}
    </select>
    <select id="sysMsgOneGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_MSG_CD">
        EXEC SP_SYS_MSG_GET 1,1,#{keyword}
    </select>
    <select id="sysMsgDelete" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_MSG_DEL #{keyword}
    </select>



    <!--게시판관리 -->
    <select id="sysBoardGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_BOARD_CD">
        EXEC SP_SYS_BOARD_GET  #{page}, #{rows}, ''
    </select>
    <select id="sysBoardAdd" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_BOARD_ADD #{board_code},#{board_en},#{board_kr},#{files},#{file_size},#{user_code},#{keyword}
    </select>
    <select id="sysBoardOneGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_BOARD_CD">
        EXEC SP_SYS_BOARD_GET 1,1,#{keyword}
    </select>
    <select id="sysBoardDelete" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_BOARD_DEL #{keyword}
    </select>




    <!-- 창고관리 -->
    <select id="sysCargoGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_CARGO_CD">
    		EXEC SP_SYS_CARGO_GET #{page}, #{rows},'',''
    </select>
    <select id="sysCargoBAllGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_CARGO_CD">
    		EXEC SP_SYS_CARGO_GET 0, 0,'','Y'
    </select>
    <select id="sysCargoAdd" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_CARGO_ADD #{cargo_code},#{cargo_name},#{use_yn},#{user_code},#{keyword}
    </select>
    <select id="sysCargoDelete" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_CARGO_DEL #{keyword}
    </select>
    <select id="sysCargoOneGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_CARGO_CD">
    		EXEC SP_SYS_CARGO_GET 1, 1,#{keyword},''
    </select>




    <!-- 라인관리 -->
    <select id="sysProdLineGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_LINE_CD">
    	EXEC SP_SYS_LINE_GET #{page}, #{rows}, '','',''
    </select>
    <select id="sysProdLineAdd" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LINE_ADD #{dept_code},#{line_code},#{line_name},#{line_char},#{line_type},#{user_code},#{keyword}
    </select>
    <select id="sysProdLineDelete" resultType="com.sound.door.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LINE_DEL #{keyword}
    </select>
    <select id="sysProdLineOneGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_LINE_CD">
    	EXEC SP_SYS_LINE_GET 1,1, #{keyword},#{keyword2},''
    </select>




    <!-- 공통관리 -->
    <select id="sysCommonGroupAllGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_COMMON_CD">
    	EXEC SP_SYS_COMMON_GROUP_GET
    </select>
    <select id="sysCommonGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_COMMON_CD">
    	 EXEC SP_SYS_COMMON_GET #{page},#{rows},#{keyword},'',#{keyword2}
    </select>
    <select id="sysCommonOneGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_COMMON_CD">
    	  EXEC SP_SYS_COMMON_GET 1,1,#{keyword},#{keyword2},''
    </select>
    <select id="sysCommonAdd" resultType="com.sound.door.Common.DataTransferObject.Message">
        EXEC SP_SYS_COMMON_ADD #{code_type},#{code_value},#{code_name1},#{code_name2},#{code_name3},#{code_name4},#{code_name5},#{code_name6},#{code_name7},#{code_name8},#{use_yn},#{user_code},#{keyword}
    </select>
    <select id="sysCommonDelete" resultType="com.sound.door.Common.DataTransferObject.Message">
        EXEC SP_SYS_COMMON_DEL #{keyword}
    </select>




    <!-- 업체코드관리 -->
    <select id="sysSuppListGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_SUPP_CD">
        EXEC SP_SYS_SUPP_GET #{page},#{rows},#{keyword},'',''
    </select>

    <select id="sysSuppOneGet" resultType="com.sound.door.mesManager.Master.DTO.SYS_SUPP_CD">
        EXEC SP_SYS_SUPP_GET 1,1,'',#{keyword},''
    </select>

    <select id="sysSuppAdd" resultType="com.sound.door.Common.DataTransferObject.Message">
        EXEC SP_SYS_SUPP_ADD #{supp_code},#{supp_name},#{ceo},#{supp_name_en},#{supp_no},#{tel_no},#{buss_type},#{fax_no},#{category},#{give_type},#{address},#{emp_name},#{emp_tel},#{corp_type1},#{corp_type2},#{corp_type3},#{emp_email},#{use_yn},#{user_code},#{keyword}
    </select>

    <select id="sysSuppListDel" resultType="com.sound.door.Common.DataTransferObject.Message">
        EXEC SP_SYS_SUPP_DEL #{keyword}
    </select>



</mapper>

