<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sound.door.Mapper.TestMapper">
    <select id="sysDeptGet" resultType="com.sound.door.mesManager.DTO.SYSDept">
        	SELECT * FROM SYS_DEPT_CD WHERE SITE_CODE='S0001'
    </select>
</mapper>
